/***********************
BODY
***********************/


	input{
		font-size: 130%;
		color: #5a5854;
		background-color: #f2f2f2;
		border: 1px solid #bdbdbd;
		border-radius: 5px;
		padding: 5px;
	}
	button{
		color: #444444;
		text-shadow: 0px 1px 1px #ffffff;
		background-color: #b9e4e3;
		font-size: 130%;
		margin-left: 10px;
		border: 1px solid #bdbdbd;
		border-radius: 5px;
		padding: 5px 10px;
	}
	button:hover{
		background-color: #a0dbc4;
		color: #333333;
	}
	table{
		font-size: 24px;
		padding: 15px;
		border: 1px solid #bdbdbd;
		width: 250px;
		border-radius: 5px;
	}
	td{
		border: 1px solid #bdbdbd;
		border-radius: 5px;
		padding: 10px 15px;
	}
	.form-control{

	}
	#logo{
		margin-top: 20px;
	}
	.search{
		padding-top: 20px;
	}



/***********************
HEADINGS
***********************/
.jumbotron {
  
}

.subheading {
  
}


/***********************
FONT
***********************/

h1 {
  
}

h2{
		font-size: 36px;
	}

header{
	text-align: center;
	padding-bottom: 30px;
}

