/***********************
BODY
***********************/

body {
  	width: 100%;
}



/***********************
HEADINGS
***********************/
.jumbotron {
  
}

.subheading {
  
}


/***********************
FONT
***********************/

h1 {
  
}

header{
	text-align: center;
	padding-bottom: 30px;
}

