/***********************
BODY
***********************/

table {
  font-size: 24px;
  padding: 15px;
  border: 1px solid #bdbdbd;
  width: 250px;
  border-radius: 5px;
}

td {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 10px 15px;
}

.form-control {}

#logo {
  margin-top: 20px;
}

/*.login-container {
  width: 50%;
  margin: 0px auto;
}*/

.signup-container {
  width: 50%;
  margin: 0px auto;
}

.col-sm-6 {
	padding: 0 50px;
}


/***********************
HEADINGS
***********************/

.header {
  text-align: center;
  padding-bottom: 30px;
}

.banner {
	font-size: 7em;
	font-family: cursive;
	padding: 20px 0px;
}


/***********************
FORMS
***********************/

input {
  font-size: 130%;
  color: #5a5854;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 5px;
}

button {
  color: #444444;
  text-shadow: 0px 1px 1px #ffffff;
  background-color: #b9e4e3;
  font-size: 130%;
  margin-left: 10px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 5px 10px;
}

button:hover {
  background-color: #a0dbc4;
  color: #333333;
}

.search {
  padding-top: 20px;
}


/***********************
FONT
***********************/

h2 {
  font-size: 36px;
}
