/***********************
BODY
***********************/

table {
  font-size: 24px;
  padding: 15px;
  border: 1px solid #bdbdbd;
  width: 250px;
  border-radius: 5px;
}

td {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 10px 15px;
}

#newperson{
  width: 300px;
}

#logo {
  margin-top: 20px;
}


.signup-container {
  width: 50%;
  margin: 0px auto;
}


#bottomButton{
  position: absolute;
  bottom: 0;
}

.inline{
  display: inline;
}

.searchProd{
  margin-bottom: 25px;
}

/***********************
HEADINGS
***********************/

.header {
  text-align: center;
  padding-bottom: 30px;
}

.jumbotron {
  padding: 5px 0 60px 0;
  background-image: url('../images/landing_page_banner.jpg');
  background-size: cover;
  border: 1px solid darkgray;
  color: #000; text-shadow: 1px 1px 0 #fff;
}

.banner {
  font-size: 7em;
  font-family: 'Great Vibes', cursive;
  padding: 20px 0px 0px 0px;
}

.subbanner {
  font-size: 1em;
  padding-bottom: 10px;
}


/***********************
FORMS
***********************/

input {
  font-size: 130%;
  color: #5a5854;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 5px;
}

button {
  color: #444444;
  text-shadow: 0px 1px 1px #ffffff;
  background-color: #b9e4e3;
  font-size: 130%;
  margin-left: 10px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 5px 10px;
}

button:hover {
  background-color: #a0dbc4;
  color: #333333;
}

.search {
  padding-top: 20px;
}

.indexSubmit {
  width: 100%;
  margin-top: 10px;
  margin-left: 0px;
}

#addCategory{
  margin-right: 15px;
}

#minPrice{
  margin-right: 15px;
}

#maxPrice{
  margin-right: 15px;
}

#addFriendForm{
  margin-top: 20px;

}




/***********************
FONT
***********************/

.list-group-item-info {
  font-size: 1.5em;
  color: #000;
}

.list-group-item-success {
  font-size: 1.5em;
  color: #000;
}

.subheading {
  font-size: 1em;
}

.loggedIn {
  font-size: .85em;
  color: #aaa;
  text-align: right;
  margin: 2px 0 0 0;
}

#delete {
  float: right;
}


